
@{
    ViewBag.Title = "Upload An Image";
}

<h2>@ViewBag.Title</h2>

@{ Html.BeginForm("Upload", "Image", FormMethod.Post, new { enctype = "multipart/form-data" });}
<fieldset>
    @Html.AntiForgeryToken()
    <legend>Enter Image Information</legend>
    <p>
        Caption: @Html.TextBox("Caption")
        @Html.ValidationMessage("Caption")
    </p>
    <p>Select a tag:@Html.DropDownList("TagId",ViewBag.tags as SelectList)</p>
    <p>
        Description: <br />
        @Html.TextArea("Description", "Enter description here", 5, 60, null)
        @Html.ValidationMessage("Description")
    </p>
    <p>
        Date of Taken: @Html.TextBox("DateTaken")
        @Html.ValidationMessage("DateTaken")
    </p>
    <p>
        <input type="file" name="image_file" />
    </p>
    <p>
        <input type="submit" value="Upload" />
    </p>
</fieldset>
<p>@Html.ValidationSummary()</p>
@{ Html.EndForm();}
<p>@ViewBag.Message</p>

